@tailwind base;
@tailwind components;
@tailwind utilities;


.chat-wrapper::-webkit-scrollbar {
   background-color: #353641;
   width: 10px;
  }
.chat-wrapper::-webkit-scrollbar-thumb {
    background: #565869;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}